p{
    color:#a52a2a;
    text-align: center;
    line-height: 30px;
}

h1{
   text-align: center; 
   color:red;

}

h3{
    text-align: center;
    color:black;
}

h4{
    text-align: center;
}

body{
    font-family: Georgia;
}

a{
    text-decoration: none;
    color:rgb(0,128,0);
}

button{
    background-color: white;
    color:blueviolet;
}

textarea{
    color:#000;
}

span{
    text-decoration: underline;
}