.Box{
    Height: 100px;
    width: 300px;
    background-color: pink;
    animation-name: Fontsize;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: 3;
    animation-direction: normal;
}

@keyframes Fontsize{
    from{font-size:50;}
    To{font-size: 60px;}
}


.Hello{
    height: 100px;
    width:400px;
    background-color: bisque;
    border: 3px dotted black;
    animation: Color 3s ease-in 3s 6 alternate;
    animation: width 3s ease-in-out 3s 5 alternate-reverse;
}

@keyframes Color{
    0%{color:blueviolet}
    50%{color:brown}
    100%{color:greenyellow}
    
}

@keyframes width{
    from{width: 200px;}
    to{width: 600px;}
}